body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("Road.jpg");
    background-size: cover;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .9;
}

.modal_container{
    position: absolute;
    outline: 2px solid green;
}

.modal_board {
    position: relative;
    padding: 2rem;
}

.modal_board label {
    color: white;
}

.title {
    display: none;
    opacity: 0;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    text-align: center;
}

.form_container {
    display: none;
    width: 25%;
    background-color: rgba(0,0,0,.5);
    padding: 100px;
}

input, label {
    font-size: 18px;
}

label {
    width: 100px;
    display: inline-block;
    margin: 36px auto 0 auto;
    color: white;
}

input {
    padding: 10px;
    border-radius: 5px;
    outline-offset: -2px;
    display: inline-block;
    margin: 36px auto 0 auto;
    border-style: double;
}

input:focus {
    outline: none !important;
    outline-offset: 0;
}

.validation_message {
    display: none;
    margin: 5px 5px 5px 105px;
    color: #ff3860;
    font-weight: bold;
}

.btn {
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding: calc(.375em - 1px) 0.75em;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 4px;
}

.btn_small {
    width: 80px;
    font-size: 1rem;
    margin-top: 1rem;
}

.bottom_btn_grp {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.btn_success {
    background-color: #23d160;
}

.btn_success:focus {
    background-color: #22c65b;
}

.btn_success:hover {
    box-shadow: 0 0 0 0.125em rgba(35,209,96,.25);
}

.btn_danger {
    background-color: #ff3860;
}

.btn_danger:focus {
    box-shadow: 0 0 0 0.125em rgba(255,56,96,.25);
}
.btn_danger:hover {
    background-color: #ff2b56;
}



.fadeIn {
    opacity: 1;
    animation: fade 1s linear;
}

@keyframes fade {
    0%{ opacity: 0 }
    100% { opacity: 1 }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-3px);}
    60% {transform: translateY(-2px);}
}
.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: both;
}
